<div class="footer has-text-centered" style="padding:2rem;margin:-8px;margin-top:0.5rem;width: 100vw;">
    <div class="content">
        <nav class="" style="text-align: center;">
            <a href="../art/" style="text-decoration:none;color:inherit;padding:1em;"><h4 class="sans" style="display: inline;font-weight: normal;">Art</h4></a>
            <a href="../about/" style="text-decoration:none;color:inherit;padding:1em;"><h4 class="sans" style="display: inline;font-weight: normal;">About</h4></a>
            <a href="../contact/" style="text-decoration:none;color:inherit;padding:1em;"><h4 class="sans" style="display: inline;font-weight: normal;">Contact</h4></a>
            <a href="../home/" style="text-decoration:none;color:inherit;padding:1em;"><h4 class="sans" style="display: inline;font-weight: normal;">Home</h4></a>
        </nav>
        <h4 class="sans" style="text-align: center;">Website made by A Random Person. <a href="mailto:ranjithrd03@gmail.com">Contact here.</a></h4>
    </div>
</div>
