<!-- <nav class="navbar" role="navigation" aria-label="main navigation" style="padding: 1rem;padding-top:1rem;margin:-8px;margin-bottom: 2rem;padding-left: 2rem;padding-right: 2em;" id="header">
    <div class="navbar-brand">
      <span style="font-size: xx-large;margin-top: 1.85rem;" class="title"><a href="../home/" style="text-decoration:none;color:inherit;">Nésse Anonymé</a></span>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" style="margin-top: 1.5rem;">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a href="../art/" style="text-decoration:none;color:inherit;padding:1em;" class="navbar-item"><h2 class="sans" style="display: inline;">art</h2></a>
        <a href="../about/" style="text-decoration:none;color:inherit;padding:1em;" class="navbar-item"><h2 class="sans" style="display: inline;">about</h2></a>
        <a href="../contact/" style="text-decoration:none;color:inherit;padding:1em;" class="navbar-item"><h2 class="sans" style="display: inline;">contact</h2></a>
      </div>
    </div>
  </nav>
  <script>
  document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
  </script> -->

  <nav class="navbar navbar-expand-lg shadow">
    <h1><a class="navbar-brand serif" style="font-size: xx-large;text-decoration: none;color:black;margin-left: 1rem;" href="../home/">Nésse Anonymé</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: black;">&#9776;</span>
    </button>
  
    <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a href="../art/" style="text-decoration:none;color:inherit;padding:1em;" class="nav-link"><h4 class="sans" style="display: inline;">art</h4></a>
        </li>
        <li class="nav-item">
            <a href="../blog/" style="text-decoration:none;color:inherit;padding:1em;" class="nav-link"><h4 class="sans" style="display: inline;">blog</h4></a>
        </li>
        <li class="nav-item">
            <a href="../about/" style="text-decoration:none;color:inherit;padding:1em;" class="navbar-item nav-link"><h4 class="sans" style="display: inline;">about</h4></a>
        </li>
        <li class="nav-item">
            <a href="../contact/" style="text-decoration:none;color:inherit;padding:1em;" class="navbar-item nav-link"><h4 class="sans" style="display: inline;">contact</h4></a>
        </li>
      </ul>
    </div>
  </nav>
